.appBar {
    width: 100%;
    padding: 20px;
    background-color: #00afcc;
    color: #fff;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
}

.appBar .iconButton {
    cursor: pointer;
    margin-right: 15px;
}

.appBar .icon {
    font-size: 20px;
    color: #fff;
}

.appBar .icon:hover {
    color: #e5e5e5;
}

.linkContainer {
    font-size: 16px;
    margin-top: 6px;
}

.appBar .heading {
    text-align: left;
    display: flex;
    flex-grow: 2;
    color: #fff;
}